<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <ul class="navbar">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('themis') }}">Who is Themis</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Who is Themis</h2>
        <p>In Greek mythology and religion, Themis is the goddess and personification of justice, divine order, law, and custom. She is one of the Titans, daughter of Uranus (Sky) and Gaia (Earth), and the second wife of Zeus. Themis is the mother of the Horae (Seasons) and the Moirai (Fates).</p>
        <p>Themis is often depicted holding a pair of scales, symbolizing balance and fairness, and sometimes a sword, representing the enforcement of justice. She is also frequently portrayed blindfolded, indicating impartiality and objectivity in her judgments.</p>
        <p>As a deity associated with law and order, Themis played a crucial role in maintaining societal harmony and was revered as a symbol of fairness and equity in ancient Greek culture.</p>
        <h2>How does she relate to our project</h2>
        <p>As the goddess of balance and fairness she aims to judge everything from an unbiased standpoint</p>
        <p>Our project was to build a AI model that can detect political bias in news articles</p>
        <p>In todays political landscape, it is evermore important to ensure that any news and information source remains as unbiased as possible, upholding the values of Themis</p>
        <p>Thus we named our project Themis Bias Detector</p>
    </div>
</body>
</html>